name: build

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: version to release
        required: true
        type: string

permissions:
  contents: write

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: 386
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
          - os: linux
            arch: arm
          - os: linux
            arch: ppc64le
          - os: linux
            arch: s390x
          - os: darwin
            arch: amd64
          - os: darwin
            arch: arm64
          - os: freebsd
            arch: amd64
          - os: openbsd
            arch: amd64
          - os: windows
            arch: amd64
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
            Makefile
            app/**/Makefile
          go-version: stable

      - name: Build victoria-metrics for ${{ matrix.os }}-${{ matrix.arch }}
        run: make victoria-metrics-${{ matrix.os }}-${{ matrix.arch }}

      - name: Build vmutils for ${{ matrix.os }}-${{ matrix.arch }}
        run: make vmutils-${{ matrix.os }}-${{ matrix.arch }}

      - name: Create or update release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: bin/victoria-metrics-${{ matrix.os }}-${{ matrix.arch }}
          tag: ${{inputs.release_version}}
          commit: master
          token: ${{ secrets.GITHUB_TOKEN }}